---
editUrl: false
next: false
prev: false
title: "VerificationStatus"
---

Defined in: [packages/channel/src/types/channel.types.ts:107](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L107)

## Enumeration Members

### NOT\_REQUIRED

> **NOT\_REQUIRED**: `"NOT_REQUIRED"`

Defined in: [packages/channel/src/types/channel.types.ts:108](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L108)

***

### PENDING

> **PENDING**: `"PENDING"`

Defined in: [packages/channel/src/types/channel.types.ts:109](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L109)

***

### REJECTED

> **REJECTED**: `"REJECTED"`

Defined in: [packages/channel/src/types/channel.types.ts:112](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L112)

***

### UNDER\_REVIEW

> **UNDER\_REVIEW**: `"UNDER_REVIEW"`

Defined in: [packages/channel/src/types/channel.types.ts:110](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L110)

***

### VERIFIED

> **VERIFIED**: `"VERIFIED"`

Defined in: [packages/channel/src/types/channel.types.ts:111](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L111)
