---
editUrl: false
next: false
prev: false
title: "VerificationStatus"
---

Defined in: [packages/channel/src/types/channel.types.ts:97](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L97)

## Enumeration Members

### NOT\_REQUIRED

> **NOT\_REQUIRED**: `"NOT_REQUIRED"`

Defined in: [packages/channel/src/types/channel.types.ts:98](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L98)

***

### PENDING

> **PENDING**: `"PENDING"`

Defined in: [packages/channel/src/types/channel.types.ts:99](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L99)

***

### REJECTED

> **REJECTED**: `"REJECTED"`

Defined in: [packages/channel/src/types/channel.types.ts:102](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L102)

***

### UNDER\_REVIEW

> **UNDER\_REVIEW**: `"UNDER_REVIEW"`

Defined in: [packages/channel/src/types/channel.types.ts:100](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L100)

***

### VERIFIED

> **VERIFIED**: `"VERIFIED"`

Defined in: [packages/channel/src/types/channel.types.ts:101](https://github.com/k-otp/k-msg/blob/main/packages/channel/src/types/channel.types.ts#L101)
