---
editUrl: false
next: false
prev: false
title: "VerificationStatus"
---

Defined in: [packages/channel/src/types/channel.types.ts:108](https://github.com/k-otp/k-msg/blob/6a36eef039aac25baeffb88785f2ebe5e4151ab2/packages/channel/src/types/channel.types.ts#L108)

## Enumeration Members

### NOT\_REQUIRED

> **NOT\_REQUIRED**: `"NOT_REQUIRED"`

Defined in: [packages/channel/src/types/channel.types.ts:109](https://github.com/k-otp/k-msg/blob/6a36eef039aac25baeffb88785f2ebe5e4151ab2/packages/channel/src/types/channel.types.ts#L109)

***

### PENDING

> **PENDING**: `"PENDING"`

Defined in: [packages/channel/src/types/channel.types.ts:110](https://github.com/k-otp/k-msg/blob/6a36eef039aac25baeffb88785f2ebe5e4151ab2/packages/channel/src/types/channel.types.ts#L110)

***

### REJECTED

> **REJECTED**: `"REJECTED"`

Defined in: [packages/channel/src/types/channel.types.ts:113](https://github.com/k-otp/k-msg/blob/6a36eef039aac25baeffb88785f2ebe5e4151ab2/packages/channel/src/types/channel.types.ts#L113)

***

### UNDER\_REVIEW

> **UNDER\_REVIEW**: `"UNDER_REVIEW"`

Defined in: [packages/channel/src/types/channel.types.ts:111](https://github.com/k-otp/k-msg/blob/6a36eef039aac25baeffb88785f2ebe5e4151ab2/packages/channel/src/types/channel.types.ts#L111)

***

### VERIFIED

> **VERIFIED**: `"VERIFIED"`

Defined in: [packages/channel/src/types/channel.types.ts:112](https://github.com/k-otp/k-msg/blob/6a36eef039aac25baeffb88785f2ebe5e4151ab2/packages/channel/src/types/channel.types.ts#L112)
