---
editUrl: false
next: false
prev: false
title: "ValidationResult"
---

Defined in: [packages/template/src/parser/validator.ts:8](https://github.com/k-otp/k-msg/blob/main/packages/template/src/parser/validator.ts#L8)

## Properties

### errors

> **errors**: `string`[]

Defined in: [packages/template/src/parser/validator.ts:10](https://github.com/k-otp/k-msg/blob/main/packages/template/src/parser/validator.ts#L10)

***

### isValid

> **isValid**: `boolean`

Defined in: [packages/template/src/parser/validator.ts:9](https://github.com/k-otp/k-msg/blob/main/packages/template/src/parser/validator.ts#L9)

***

### warnings

> **warnings**: `string`[]

Defined in: [packages/template/src/parser/validator.ts:11](https://github.com/k-otp/k-msg/blob/main/packages/template/src/parser/validator.ts#L11)
